Repository Evil-GitHub/evil-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查

.lintstagedrc:

{
  "**/*.{js,jsx,tsx,ts}": [
    "npx @biomejs/biome check --write",
    "tsc --noEmit",  // TypeScript 类型检查
  ],
  "**/*.{md,css,less,json}": [
    "npx @biomejs/biome check --write"
  ]
}

test
  test-husky.js
Due: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查

test: add test file for husky hooks
  test-husky.js
Due: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查

feat: 更新 husky
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: npx @biomejs/biome check --write

chore: commit yarn.lock for reproducible builds
  .gitignore
  .gitlab-ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .node-version
  .npmrc
  .nvmrc
  README.md
  commitlint.config.cjs
  generate-readme.js
  package.json
  yarn.lock
Due: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查

fix: 给 husky 钩子添加执行权限
  .husky/pre-push
Due: none

chore: 配置 Husky 自动安装及完善开发环境说明
  README.md
  generate-readme.js
  package.json
  scripts/setup-husky.js
Due: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查

fix: config/proxy circular import issue
  config/config.ts
  config/env.ts
  config/proxy.ts
  package.json
  yarn.lock
Due: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查

feat: 工程化修改
  .env.example
  .gitlab-ci.yml
  .husky/pre-commit
  .husky/pre-push
  README.md
  package.json
  scripts/setup-husky.js
Due: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查

docs: 文档修改
  .lintstagedrc
  README.md
Due: npx @biomejs/biome check --write

feat: avatar
  src/app.tsx
  src/components/Avatar/index.tsx
  src/components/RightContent/AvatarDropdown.tsx
  src/components/index.ts
  src/utils/index.ts
Due: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查

chore: improve project checks
  .husky/commit-msg
  .husky/pre-commit
  biome.json
  package.json
  scripts/setup-husky.js
  src/components/RightContent/AvatarDropdown.tsx
  src/pages/Welcome.tsx
  src/pages/user/login/index.tsx
  src/requestErrorConfig.ts
  src/utils/index.ts
Due: npx @biomejs/biome check --write, tsc --noEmit, // TypeScript 类型检查
